@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar en carrusel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media print {
  .page-break {
    page-break-after: always;
  }
  .print\\:shadow-none {
    box-shadow: none !important;
  }
  .print\\:border-gray-300 {
    border-color: #d1d5db !important;
  }
  .print\\:p-4 {
    padding: 1rem !important;
  }
}
